footer,header{
    background:none !important;
}
#link{
    .link{
        padding: 16px 0;
        >p{
            margin: 0 !important;
            padding: 0 .5rem;
        }
    }
}
#zone1{
    max-width: none !important;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    &:hover .banner img{
        scale: 1.1;
    }
    .banner{
        & img{
            transition: all 1s;
        }
    }
    .content{
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        & h2{
            font-size: 3rem;
            padding: 20% 0;
        }
    }
}
#zone2{
    .zone{
        padding: 60px 0;
        .zone2-content{
            >h3{
                font-size: 2rem;
                margin-bottom: 10%;
            }
        }
        .img{
            &:hover img{
                scale: 1.1;
            }
            & img{
                transition: all 1s;
            }
            overflow: hidden;
            border-radius: 8px;
        }
    }
}
#zone3{
    .title{
        >h2{
            padding: 2.5rem 0;
            font-size: 2rem;
        }
    }
    .detail{
        .row-list{
            .img{
                display: flex;
                align-items: center;
                margin-right: .5rem;
            }
        }
        
        & p{
            padding: 1rem 0;
        }
    }
}
.prev, .next{
    .button{
        background-color: rgba(0,0,0,0.2);
        margin-top: 2rem     ;
        border-radius: 0;
        >p{
            padding: .2rem 4rem !important;
        }
    }
}

.footer{
    margin-top: 60px !important;
}
.back-ground{
    max-width: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: none;
    overflow: hidden;
    .tron1 {
        width: 20%; 
        padding-bottom: 20%; 
        background-color: rgba(183, 141, 113, 0.15);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-40%,-45%);
    }
    .tron1 .tron1-{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(183, 141, 113, 0.1);
    }
    .tron2 {
        width: 38.2%; 
        padding-bottom: 38.2%; 
        background-color: rgba(183, 141, 113, 0.15);
        border-radius: 50%;
        position: absolute;
        bottom: 5%;
        left: 0;
        transform: translate(-60%,50%);
    }
    .tron2 .tron2-{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(183, 141, 113, 0.1);
    }
    .tron3 {
        width: 30%; 
        padding-bottom: 30%; 
        background-color: rgba(183, 141, 113, 0.15);
        border-radius: 50%;
        position: absolute;
        bottom: 30%;
        right: -5%;
        transform: translate(60%,50%);
    }
    .tron3 .tron3-{
        width: 80%;
        height: 80%;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(183, 141, 113, 0.1);
    }
}
section{
    z-index: 2;
    position: relative;
}
@media only screen and (min-width: 1440px) {
    .content{
        width: 80%;
        max-width: 1440px !important;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media only screen and (max-width: 1439.98px) {
    .content{
        width: 80%;
    }
}

/* // `xl` applies to large devices (L laptop, less than 1240px) */
@media  only screen and (max-width: 1239.98px) {
    .content{
        width: 85%;
        >div{
            width: 60% !important;
        }
    }
    #zone1{
        .content{
            & h2{
                padding: 15% 0;
            }
        }
    }
    #footer{
        margin-top: 0;
    }
}

/* // `xl` applies to large devices (LapTop, less than 1064px) */
@media  only screen and (max-width: 1063.98px) { 
    #zone1{
        .content{
            & h2{
                padding: 10% 0;
            }
        }
    }
}

/* // `lg` applies to medium devices (S Laptop, less than 992px) */
@media  only screen and (max-width: 991.98px) { 
    .content{
        width: 90%;
        >div{
            width: 70% !important;
        }
        & h2{
            padding: 8% 0 !important;
        }
    }
}

/* // `lg` applies to medium devices (tablets, less than 768px) */
@media  only screen and (max-width: 767.98px) { 
    #link{
        .link{
            margin-bottom: 0;
        }
    }
    #zone1{
        display: none !important;
    }
    #zone2{
        margin-top: 0 !important;
        width: 100%;
        max-width: none !important;
        .zone{
            display: flex !important;
            padding: 30px 0;
            .zone2-content{
                margin: 0 auto;
                margin-top: 2rem;
                width: 90% !important;
            }
            .img{
                height: 250px;
                display: flex;
                align-items: center;
                border-radius: 0;
                width: 100% !important;
            }
        }
    }
    .footer{
        margin-top: 60px !important;
    }
}

/* // `sm` applies to x-small devices (L phones, less than 576px) */
@media  only screen and (max-width: 575.98px) { 
    #zone2{
        .zone{
            .img{
                height: 200px;
            }
        }
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 425px) */
@media  only screen and (max-width: 425.98px) { 
    .content{
        width: 90%;
    }
    #zone2{
        .zone{
            .img{
                height: 150px;
            }
        }
    }
}
/* // `sm` applies to x-small devices (small phones, less than 375px) */
@media  only screen and (max-width: 375.98px) { 

}
