body{
    background-color: #fff;
}
#footer{
    padding-top: 120px;
}
#header{
    z-index: 1;
}
section{
    z-index: 0;
    padding: 3rem 0;
    & p{
        margin-bottom: 0;
    }
    .link{
        margin-bottom: 2rem;
        >p{
            margin: 0 !important;
            padding: 0 .5rem;
            display: flex;
            align-items: center;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .content{
        & h3{
            padding: 1rem 0;
        }
        .basket{
            .products{
                /* max-height: 1000px; */
                /* overflow-y: auto; */
                >p{
                    padding: 1rem 0;
                }
            }
        }
        .bill-temporary{
            .gift{
                padding: 3rem 0;
                border-bottom: 1px solid #D8D8D8;
                >p{
                    font-size: 1.25rem;
                }
                & input{
                    width: 80%;
                    padding: .5rem 1rem;
                    background-color: #fff;
                }
                .alert-gift{
                    font-size: 1rem;
                    position: absolute;
                    bottom: 15%;
                    color: red;
                    left: 20%;
                }
            }
            .bill{
                padding: 3rem 0;
                border-bottom: 1px solid #D8D8D8;
                .bill-row{
                    position: relative;
                    padding: 1rem 0;
                    >p{
                        display: flex;
                        align-items: center;
                    }
                    >.gift-label{
                        background-color: #fff9f6;
                        padding: .5rem 1rem;
                        position: absolute;
                        display: block;
                        left: 5rem;
                        top: 50%;
                        transform: translateY(-50%);
                        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2)!important;
                    }
                }
                .price{
                    font-size: 1.25rem;
                }
            }
            .last-price{
                padding: 3rem 0;
                .sum-price{
                    color: #92715A;
                    font-size: 1.25rem;
                }
            }
        }
    }
}
.d-block{
    display: block !important;
}
@media only screen and (max-width: 991.98px){
    section{
        .gift input{
            width: 75% !important;
        }
        .gift{
            .alert-gift{
                left: 25% !important;
            }
        }
        
    }
}
@media only screen and (max-width: 767.98px){
    section{
        .content{
            .basket{
                width: 100% !important;
            }
            .bill-temporary{
                padding-top: 3rem;
                width: 100% !important;
            }
        }
    }
    #footer{
        padding-top: 3rem;
    }
    .footer{
        margin-top: 0 !important;
    }
}