#zone1{
    .banner-zone1 img{
        transition: all 1s;
    }
    overflow: hidden;
    &:hover img{
        scale: 1.1;
    }
    z-index: 1;
    .content-zone1{
        position: absolute;
        color: #fff;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        text-align: center;
        white-space: nowrap;
    }
    .content-border{
        border: 3px solid #fff;
        border-left: none;
        border-right: none;
        padding: 1rem 5rem;
        margin: 2rem 0;
        text-align: center;
        white-space: nowrap;
    }
    .m-content-border{
        border: 2px solid #fff;
        border-left: none;
        border-right: none;
        padding: 1rem 3rem;
        padding-left: 0;
        text-align: start;
        font-size: 1.5rem;
        line-height: 250%;
        >p{
            display: inline-block;
        }
    }
}

#zone2{
    .content-zone2{
        .title{
            position: absolute;
            top: 0;
            left: 0;
        }
        .content{
            >h3{
                font-size: 3rem;
                margin: 3rem 0;
            }
            >p{
                margin-bottom: 5rem;
            }
        }
    }
    .banner{
        .img{
            border-radius: 16px;
            >img{
                transition: all 1s;
            }
            &:hover img{
                scale: 1.1;
            }
        }
    }
}
#zone3{
    .title{
        >h3{
            font-size: 2rem;
        }
    }
    >.button{
        position: absolute;
        top: 0;
        right: 0;
        >p{
            padding: 10px 64px;
        }
    }
}

@media only screen and (min-width: 1440px) { 
    
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media only screen and (max-width: 1439.98px) {
    
}

/* // `xl` applies to large devices (L laptop, less than 1240px) */
@media  only screen and (max-width: 1239.98px) { 
    #zone1 .content-zone1 {
        >p{
            font-size: 5rem !important;
        }
        .content-border{
            border: 2px solid #fff;
            border-left: none;
            border-right: none;
            >p{
                font-size: 1.25rem;
            }
        }
        .button{
            margin-top: 2rem !important;
        }
    }
    #zone2{
        .content-zone2{
            .title{
                position: absolute;
                top: 0;
                left: 0;
            }
            .content{
                >h3{
                    font-size: 3rem;
                    margin: 2rem 0;
                }
                >p{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

/* // `xl` applies to large devices (LapTop, less than 1064px) */
@media  only screen and (max-width: 1063.98px) { 
    #zone1 .content-zone1 {
        >p{
            font-size: 4rem !important;
        }
        .content-border{
            border: 2px solid #fff;
            border-left: none;
            border-right: none;
            >p{
                font-size: 1.25rem;
            }
        }
        .button{
            margin-top: 2rem !important;
        }
    }
}

/* // `lg` applies to medium devices (S Laptop, less than 992px) */
@media  only screen and (max-width: 991.98px) { 
    #zone1 .content-zone1 {
        >p{
            font-size: 3.5rem !important;
            margin-bottom: 2rem !important;
        }
        .content-border{
            >p{
                font-size: 1rem;
            }
        }
    }
    #zone2{
        .content-zone2{
            width: 50% !important;
            .content{
                >h3{
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                }
                >p{
                    margin-bottom: 1rem;
                }
            }
        }
        .button{
            margin-top: 1rem !important;
        }
    }
    
}

/* // `lg` applies to medium devices (tablets, less than 768px) */
@media  only screen and (max-width: 767.98px) { 
    #zone1{
        .banner-zone1{
            >.lap{
                display: none !important;
            }
            >.phone{
                display: block !important;
            }
        }
        .content-zone1{
            display: flex;
            flex-direction: column;
            align-items: start;
            left: 2rem !important;
            top: 50% !important;
            transform: translate(0,-50%) !important;
            >p{
                font-size: 4.5rem !important;
                text-align: start !important;
            }
            >.content-border{
                display: none !important;
            }
            >.m-content-border{
                display: inline-block !important;
                margin: 4rem 0;
            }
        }
    }
    #zone2{
        flex-direction: column-reverse;
        .m-title{
            display: block !important;
        }
        .title{
            display: none;
        }
        .content-zone2{
            width: 100% !important;
        }
        .banner{
            width: 100%;
        }
    }
    #zone3{
        .products{
            margin-bottom: 5rem;
        }
        >.button{
            display: flex !important;
            justify-content: center;
            width: 45%;
            top: auto;
            bottom: 0;
        }
    }
}

/* // `sm` applies to x-small devices (L phones, less than 576px) */
@media  only screen and (max-width: 575.98px) { 
    #zone1{
        .content-zone1{
            >p{
                font-size: 3.5rem !important;
            }
            >.m-content-border{
                margin: 2rem 0;
                >p{
                    font-size: 1.25rem !important;
                }
            }
        }
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 425px) */
@media  only screen and (max-width: 425.98px) { 
    #zone1{
        .content-zone1{
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%,-50%) !important;
            >p{
                font-size: 3rem !important;
            }
            >.m-content-border{
                margin: 1rem 0;
                >p{
                    font-size: 1.25rem !important;
                }
            }
        }
    }
    .button{
        width: 100%;
        display: flex !important;
        justify-content: center;
    }
    #zone2{
        .button{
            width: 80%;
            margin: 0 auto;
        }
    }
    #zone3 {
        >.button{
            width: 45% !important;
        }
    }
}
/* // `sm` applies to x-small devices (small phones, less than 375px) */
@media  only screen and (max-width: 375.98px) { 
    
}