<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miki Jewelry - About Us</title>
    <link rel="icon" href="../Images/icon/logo-miki.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.rtl.min.css" integrity="sha512-rXhL8a+X3wTosWn2Zgd/5L8rfWrpff7qdOnl7Wg1n2zHk8lHGhiSujoyxoKw1nf43kZAzJoe0Z0ymr2Kkku7lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../CSS/common.css">
    <link rel="stylesheet" href="../CSS/about-us.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="position-relative">
    <header id="header">
        <script src="./header.js"></script>
    </header>

    <section id="link" class="m-0-auto">
        <div class="link d-flex ">
            <p>Về chúng tôi</p>
            <div class="img-link w-9px">
                <img src="../Images/icon/product-link.jpg" alt="img-link">
            </div>
            <p class="to-link font-w700">Thương hiệu và lịch sử</p>
        </div>
    </section>
    <section id="zone1" class="w-100">
        <div class="banner w-100">
            <img src="../Images/About-us-banner.jpg" alt="banner">
        </div>
        <div class="content">
            <div class="w-45">
                <h2 class="font-playfair-display font-w700">“Miki Jewelry - Tales of Happiness”</h2>
                <p>Lần đầu ra mắt thị trường vào năm 2015, Miki mong muốn mang tới những sản phẩm Nữ trang được đầu tư về thiết kế, minh bạch về thông tin giao dịch hàng hoá và mang đến khách hàng dịch vụ hậu mãi trọn vẹn.</p>
            </div>
        </div>
    </section>
    <section id="zone2" class="m-0-auto mt-120px">
        <div class="zone d-flex w-100 justify-content-between flex-wrap-reverse d-none">
            <div class="zone2-content w-47">
                <h3 class="font-w700">“Miki Jewelry - Tales of Happiness”</h3>
                <p>Lần đầu ra mắt thị trường vào năm 2015, Miki mong muốn mang tới những sản phẩm Nữ trang được đầu tư về thiết kế, minh bạch về thông tin giao dịch hàng hoá và mang đến khách hàng dịch vụ hậu mãi trọn vẹn.</p>
            </div>
            <div class="img w-50">
                <img src="../Images/About-us-banner.jpg" alt="about-us">
            </div>
        </div>
        <div class="zone d-flex w-100 justify-content-between flex-wrap-reverse">
            <div class="zone2-content w-47">
                <h3 class="font-w700">Thiết kế độc quyền từ hàn quốc</h3>
                <p>Lấy tầm nhìn trở thành “Nhà bán lẻ trang sức dẫn đầu xu hướng", trang sức Miki mang phong cách trẻ trung, hiện đại, liên tục cập nhật những xu hướng mới từ Hàn Quốc. </p>
            </div>
            <div class="img w-50">
                <img src="../Images/about-us-piture-1.jpg" alt="about-us">
            </div>
        </div>
        <div class="zone d-flex w-100 justify-content-between flex-wrap">
            <div class="img w-50">
                <img src="../Images/about-us-piture-2.jpg" alt="about-us">
            </div>
            <div class="zone2-content w-47">
                <h3 class="font-w700">Những câu chuyện hạnh phúc</h3>
                <p>Mang trong mình sứ mệnh sẽ trở thành bạn đồng hành luôn thấu hiểu và trân trọng từng khoảnh khắc trong cuộc sống của khách hàng, Miki Jewelry là “Tales of Happines” (Câu chuyện của hạnh phúc). Hạnh phúc, tình yêu, kỉ niệm,… được hình hóa thành những món quà ở lại mãi với thời gian...
                </p>
            </div>
        </div>
        <div class="zone d-flex w-100 justify-content-between flex-wrap-reverse">
            <div class="zone2-content w-47">
                <h3 class="font-w700">Sản xuất & chế tác</h3>
                <p>Sở hữu xưởng sản xuất rộng hơn 3000m2 tại Vĩnh Phúc dây chuyền sản xuất hiện đại cùng với kinh nghiệm hơn 15 năm trong ngành sản xuất kim hoàn. </p>
            </div>
            <div class="img w-50">
                <img src="../Images/about-us-piture-3.jpg" alt="about-us">
            </div>
        </div>
    </section>
    <div class="back-ground">
        <div class="tron2">
            <div class="tron2-"></div>
        </div>
        <div class="tron3">
            <div class="tron3-"></div>
        </div>
    </div>
    <footer id="footer">
        <script src="./footer.js"></script>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../JS/data.js"></script>
    <script src="../JS/common.js"></script>
    <script src="../JS/about-us.js"></script>
    
</body>
</html>