<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miki Jewelry - Products</title>
    <link rel="icon" href="../Images/icon/logo-miki.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.rtl.min.css" integrity="sha512-rXhL8a+X3wTosWn2Zgd/5L8rfWrpff7qdOnl7Wg1n2zHk8lHGhiSujoyxoKw1nf43kZAzJoe0Z0ymr2Kkku7lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../CSS/common.css">
    <link rel="stylesheet" href="../CSS/basket.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <header id="header">
        <script src="./header.js"></script>
    </header>
    <section class="m-0-auto">
            <div class="link d-flex">
                <p>Sản phẩm</p>
                <div class="img-link w-9px">
                    <img src="../Images/icon/product-link.jpg" alt="img-link">
                </div>
                <p class="to-link font-w700">Giỏ hàng</p>
            </div>
            <div class="content d-flex justify-content-between w-100">
                <div class="basket w-50">
                    <div class="head">
                        <h3 class="font-w700">Giỏ hàng</h3>
                    </div>
                    <div class="products">
                        <!-- sản phẩm ở đây -->
                        <!-- <div class="item-product-row d-flex justify-content-between">
                            <div class="img w-25 position-relative">
                                <img src="../Images/Products/Lira Earrings.png" alt="Lira Earrings">
                            </div>
                            <div class="detail d-flex flex-column justify-content-between w-68">
                                <div class="position-relative">
                                    <div class="name">
                                        <p class="font-w700">Lira Earrings</p>
                                    </div>
                                    <div class="item-color">
                                        <p>Màu sắc: Sliver</p>
                                    </div>
                                    <div class="icon-close">
                                        <div class="w-32px">
                                            <img src="../Images/icon/icon-close.png" alt="icon-close">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="quantity d-flex">
                                        <div class="minus d-flex align-items-center" onclick="quantityDecrease()">
                                            <img src="../Images/icon/icon-minuss.jpg" alt="minus">
                                        </div>
                                        <input type="number" name="quantity" id="quantity" step="1" value="1">
                                        <div class="plus w-32px d-flex align-items-center" onclick="quantityIncrease()">
                                            <img src="../Images/icon/icon-plus.png" alt="plus">
                                        </div>
                                    </div>
                                    <div class="price-item">
                                        <p class="item-price font-w700">355.000đ</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="bill-temporary w-40">
                    <div class="head">
                        <h3 class="font-w700">Tạm tính</h3>
                    </div>
                    <div class="gift d-flex justify-content-between w-100 align-items-center">
                        <p class="font-w700">Ưu đãi</p>
                        <input type="text" name="gift" id="gift" placeholder="Nhập ưu đãi">
                    </div>
                    <div class="bill d-flex flex-column">
                        <div class="bill-row d-flex justify-content-between">
                            <p>Giá sản phẩm</p>
                            <p class="sum-item-price font-w700 price">1.309.000đ</p>
                        </div>
                        <div class="bill-row d-flex justify-content-between">
                            <p>Phí giao hàng</p>
                            <p class="ship-price font-w700 price">40.000đ</p>
                        </div>
                        <div class="bill-row d-flex justify-content-between">
                            <p>Giảm giá</p>
                            <p class="gift-price font-w700 price">200.000đ</p>
                        </div>
                    </div>
                    <div class="last-price">
                        <div class="d-flex justify-content-between">
                            <p>Tổng</p>
                            <p class="sum-price font-w700">1.149.000d</p>
                        </div>
                        <div class="pt-5 d-flex justify-content-end">
                            <div class="button btn-black">
                                <p>Thanh toán</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer id="footer">
        <script src="./footer.js"></script>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../JS/common.js"></script>
    <script src="../JS/basket.js"></script>
</body>
</html>