<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miki Jewelry - Home page</title>
    <link rel="icon" href="../Images/icon/logo-miki.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.rtl.min.css" integrity="sha512-rXhL8a+X3wTosWn2Zgd/5L8rfWrpff7qdOnl7Wg1n2zHk8lHGhiSujoyxoKw1nf43kZAzJoe0Z0ymr2Kkku7lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/common.css">
    <link rel="stylesheet" href="../CSS/home-page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="d-flex flex-column">
    <header id="header">
        <script src="./header.js"></script>
    </header>
    <section id="zone1" class="m-0-auto w-100 position-relative">
        <div class="w-100">
            <div class="banner-zone1">
                <img src="../Images/home-banner-1.png" alt="banner-zone1" class="lap">
                <img src="../Images/m-banner-1.png" alt="banner-zone1-mobile" class="phone d-none">
            </div>
            <div class="content-zone1">
                <p class="font-playfair-display font-w400 font-size font-size-6rem mb-4rem">Thế giới nữ trang</p>
                <div class="content-border">
                    <p class="font-size-1-5 mb-0 font-w700">Tôn vinh vẻ đẹp phái nữ - Trao quà tặng - Trao yêu thương</p>
                </div>
                <div class="m-content-border d-none">
                    <p class="mb-0 ">
                        Tôn vinh vẻ đẹp phái nữ <br>
                        Trao quà tặng <br>
                        Trao yêu thương
                    </p>
                </div>
                <div class="button btn-white mt-5">
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
        </div>
    </section>
    <section id="zone2" class="m-0-auto mt-120px d-flex justify-content-between">
        <div class="content-zone2 w-50 position-relative d-flex flex-column justify-content-center">
            <div class="title">
                <h2 class="font-w700">Về chúng tôi</h2>
            </div>
            <div class="content">
                <h3 class="font-playfair-display font-w700">“Ngày mai phải tốt hơn ngày hôm nay”</h3>
                <p>Lần đầu ra mắt thị trường vào năm 2015, Miki mong muốn mang tới những sản phẩm Nữ trang được đầu tư về thiết kế, minh bạch về thông tin giao dịch hàng hoá và mang đến khách hàng dịch vụ hậu mãi trọn vẹn.</p>
            </div>
            <div class="button btn-black align-self-start">
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="banner w-45">
            <div class="img w-100 overflow-hidden">
                <img src="../Images/home-ve-chung-toi.png" alt="banner-zone2">
            </div>
        </div>
        <div class="m-title d-none">
            <h2 class="font-w700 mb-4">Về chúng tôi</h2>
        </div>
    </section>
    <section id="zone3" class="m-0-auto mt-120px position-relative">
        <div class="button btn-black">
            <p>Xem tất cả</p>
        </div>
        <div class="title">
            <h3 class="font-w700 mb-5">Sản phẩm nổi bật<table></table></h3>
        </div>
        <div class="products d-flex justify-content-between flex-wrap">
            <!-- sản phẩm được thêm ở đây  -->
        </div>
    </section>
    <section id="zone4" class="m-0-auto w-100 mt-120px overflow-hide position-relative">
        <div class="banner-zone4 w-100">
            <img src="../Images/home-bo-suu-tap.png" alt="banner-zone4">
        </div>
        <div class="m-banner-zone4 d-none">
            <img src="../Images/m-banner-3.png" alt="m-banner-zone4">
        </div>
        <div class="content position-absolute">
            <p class="head text-nowrap">Bộ sưu tập mới nhất</p>
            <div class="collection">
                <h3 class="collection-name font-playfair-display font-w600 text-nowrap">Ánh trăng người tình</h3>
                <p class="describe ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <div class="button btn-white">
                    <p>Tìm hiểu thêm</p>
                </div>
            </div>
            <div class="top-bar bar"></div>
            <div class="bottom-bar bar"></div>
            <div class="left-bar bar"></div>
            <div class="right-bar bar"></div>
        </div>
    </section>
    <section id="zone5" class="m-0-auto mt-120px d-flex justify-content-between">
        <div class="col1 d-flex flex-wrap justify-content-between">
            <div class="nhan item">
                <img src="../Images/nhan.png" alt="nhan">
                <p class="text">Nhẫn</p>
            </div>
            <div class="dong-ho item">
                <img src="../Images/dong-ho.png" alt="dong ho">
                <p class="text">Đồng hồ</p>
            </div>
            <div class="m-bong-tai item d-none">
                <img src="../Images/bong-tai.png" alt="bong tai">
                <p class="text">Bông tai</p>
            </div>
            <div class="brand-name">
                <p class="font-w700 font-playfair-display">MIKI JEWERLY</p>
            </div>
            <div class="lac-tay item">
                <img src="../Images/lac-tay.png" alt="lac tay">
                <p class="text">Lắc tay</p>
            </div>
            <div class="day-chuyen item">
                <img src="../Images/day-chuyen.png" alt="day chuyen">
                <p class="text">Dây chuyển</p>
            </div>
            <div class="m-lac-tay item d-none">
                <img src="../Images/m-lac-tay.png" alt="m-lac-tay">
                <p class="text">Lắc tay</p>
            </div>
            <div class="m-day-chuyen d-none item">
                <img src="../Images/m-day-chuyen.png" alt="m-day-chuyen">
                <p class="text">Dây chuyển</p>
            </div>
        </div>
        <div class="col2">
            <div class="bong-tai item">
                <img src="../Images/bong-tai.png" alt="bong tai" class="">
                <p class="text">Bông tai</p>
            </div>
        </div>
    </section>
    <footer id="footer">
        <script src="./footer.js"></script>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../JS/common.js"></script>
    <script src="../JS/home-page.js"></script>
</body>
</html>